@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
	--primary: #4ebc84;
	--blackTextPrimary: #1e2022;
	--blackText: #232233;
	--grayText: #77838f;
	--darkGrayText: #616161;
	--whiteText: #edf3ff;
	--innerBackground: #f7fafd;
	--navyBlueText: #272d4e;
	--pureWhite: #fff;
	--primaryGradient: linear-gradient(135deg, #57d382 0.51%, #44a386 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
